.ejemplo-box{
    border: 2px solid green;
    width: 100px;
    height: 100px;
    margin-top: 60px;
}

.span{
    /* display: inline; */
    display: block;
}

.block-element{
    display: block;
    width: 200px;
    height: 100px;
    background-color: lightcyan;
    border: 2px solid blue;
    pad: 10px;
}