.ejemplo-box{
    border: 2px solid green;
    width: 100px;
    height: 100px;
    background-color: lightgreen;
    margin-top: 20px;
}

.span{
    /* display: inline; */
    display: block;
}

.otra-clase{
    display: inline;
}

.block-element{
    display: block;
    width: 200px;
    height: 100px;
    background-color: lightcyan;
    border: 2px solid blue;
    padding: 10px;
}